@media (max-width: 1199px) {
    .carousel {
        &__inner {
            width: 350px;
        }

        .prev,
        .next {
            left: 0px;
        }

        .next {
            right: 0px;
            left: auto;
        }
    }
}