.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    &__wrapper {
        position: relative;
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
        border: none;
        background-color: #fff;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .next {
        right: -30px;
        left: auto;
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    // .tns-nav {
    //     button {
    //         background-color: red;
    //     }

    //     .tns-nav-active {
    //         background-color: blue;
    //     }
    // }


}

@media (max-width: 991px) {
    .carousel {
        padding: 60px 0;

        &__inner {
            width: 500px;

            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        padding: 40px 0;

        .next,
        .prev {
            display: none;
        }
    }
}