.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;

    &_left {
        font-size: 36px;
        line-height: 150%;
        color: #fff;
        text-align: left;
    }
}

@media (max-width: 991px) {
    .title {
        font-size: 27px;

        &_left {
            font-size: 30px;
        }
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 21px;

        &_left {
            font-size: 20px;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 16px;
    }
}

.consultation {
    .title {
        font-size: 12px;
    }
}